[Desktop Entry]
Type=Application
Name=Amethyst Mod Manager
Comment=Game mod manager for Linux
Exec=mod-manager
Icon=mod-manager
Categories=Game;Utility;
Terminal=false
StartupWMClass=mod-manager
